@import "../variables/variables.scss";
section {
    padding: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    color: #212427;
    background-color: #fff;
    p {
        font-size: 1.6rem;
    }
}