@use "./variables.scss" as v;
@use "./mixins.scss" as m;
@use "./theme.scss" as t;

header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px 30px;
    background-color: rgba($color: var(--bg-color), $alpha: .85);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    transition-property: all; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    &.hide {
        top: -71px;
    }
    .img {
        height: 100%;
        img {
            height: 100%;
        }
    }
    .hamburder-toggler {
        position: relative;
        top: 0;
        right: 0;
        width: 50px;
        height: 40px;
        cursor: pointer;
        border: none;
        background: none;
        outline: none;
        border-radius: 4px;
        .hamburder-toggler-icon,
        .hamburder-toggler-icon:before, 
        .hamburder-toggler-icon:after
         {
            position: absolute;
            width: 30px;
            height: 3px;
            border-radius: 4px;
            background-color: var(--text-color);
            transition: all .3s ease;
        }
        .hamburder-toggler-icon:before, 
        .hamburder-toggler-icon:after {
            content: "";
            display: block;
        }
        .hamburder-toggler-icon {
            top: 8px;
            left: 10px;
            &:before {
                top: 10px;
            }
            &:after {
                top: 20px;
            }
        }
        @include m.breakpoint(lg) {
            display: none;
        }
    }
}