@use "./variables.scss" as v;
@use "./theme.scss";

.intro {
    position: relative;
    padding: 115px 30px 0;
    .intro__title {
        position: relative;
        margin: 0;
        font-family: v.$kanit;
        font-size: 9rem;
        font-weight: 900;
        line-height: .8;
        letter-spacing: .01rem;
        color: var(--text-color);
        opacity: 1;
        transition: all .1s ease-out;
        .intro__span {
            position: absolute;
            left: -96px;
            top: 210px;
            font-family: v.$kanit;
            font-size: 8rem;
            font-weight: 900;
            line-height: .8;
            letter-spacing: .01rem;
            color: var(--text-color);
            transform: rotate(-90deg);
        }
    }
}