@use "./variables.scss" as v;

// LIGHT THEME VARIABLES
html{
    --bg-color: #{v.$white};
    --text-color: #{v.$black};
    --highlight-primary-color: #{v.$black};
    --highlight-secondary-color: #{v.$orange};
    --toggle-position: 0;
    --toggle-button-radius: 7px 0 0 7px;
    --head-background: url("../img/head-dark.png") no-repeat 0 0;
}
// DARK THEME VARIABLES
html[data-theme='dark'] {
    --bg-color: #{v.$black};
    --text-color: #{v.$white};
    --highlight-primary-color: #{v.$orange};
    --highlight-secondary-color: #{v.$yellow};
    --toggle-position: 30px;
    --toggle-button-radius: 0 7px 7px 0;
    --head-background: url("../img/head.png") no-repeat 0 0;
}

// MAIN STYLES
html {
    width: 100%;
    height: 100vh;
}
body {
    font-family: v.$open;
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: all .1s ease-out;
}
#root {
    position: relative;
    &:before {
        content: "";
        position: fixed;
        top: 75px;
        left: 70px;
        display: block;
        height: 560px;
        width: 435px;
        background: var(--head-background);
        background-size: contain;
    }
}