@use "./variables.scss" as v;
@use "./theme.scss" as t;

.toggle {
    width: 60px;
    height: 30px;
    border: 1px solid v.$orange;
    border-radius: 7px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
        color: var(--text-color);
        transition: all .1s ease-out;
    }
}
.toggle-button {
    position: absolute;
    left: var(--toggle-position);
    width: 30px;
    height: 30px;
    background-color: v.$orange;
    border-radius: var(--toggle-button-radius);
    cursor: pointer;
    transition: all .1s ease-out;
}