@import "../../variables/variables.scss";
.toggle {
    width: 60px;
    height: 30px;
    border: 1px solid $mud;
    border-radius: 7px;
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
        color: $olive;
        transition: all .1s ease-out;
    }
}
.toggle-button {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 30px;
    background-color: $brick;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    transition: all .1s ease-out;
}